/* Application wide Styles */
.background {
    -fx-background-color: #333333;
}

.userButton {
    -fx-background-color: #999999;
}


/* Login Scene Styles */
#LoginBorderPane {
    -fx-background-color: #000055;
    -fx-padding: 35%;
}

#LoginGridPane {
    -fx-background-color: #666666;
    -fx-border-width: 6px;
    -fx-border-color: #000055;
}
#LoginWelcomeText{
    -fx-font: normal bold 52 serif;
    -fx-text-alignment: center;
}

/* Tester Scene Styles */
#TestLabel{
    -fx-font: normal bold 52 serif;
    -fx-text-fill: gold;
}

/* Main Menu Styles */
#centerHBox{
    -fx-background-color: #666666;
}

/* Appointment Edit Styles */
#appointmentEditViewSecondBackground{
    -fx-background-color: #666666;
}